<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ Copyright (c) Bosch Software Innovations GmbH 2016-2017
  ~ Copyright (c) Bosch.IO GmbH 2020
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the Eclipse Public License v2.0
  ~ which accompanies this distribution, and is available at
  ~ http://www.eclipse.org/legal/epl-v20.html
  ~
  ~ SPDX-License-Identifier: EPL-2.0
  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="styles.css" />
    <title>
        Open Source Attribution Document
    </title>
</head>
<body>
    <h1>Open Source Attribution Document</h1>
    <h2>Artifacts</h2>
    <a name="artifacts"></a>
    <ul>
    #foreach($artifact in $artifacts)
        <li><a href="#$artifact.ankerTag">
        #if ( $StringUtils.isNotBlank( $artifact.identifier ) )
            $artifact.identifier
        #else
            Artifact Identifier not provided
        #end
        </a></li>
    #end
    </ul>
    #foreach($artifact in $artifacts)
    <div>
        <a name="$artifact.ankerTag"></a>
        <a class="top" href="#licenses">&#8679;</a>
        <h4>Artifact:
            #if ( $StringUtils.isNotBlank( $artifact.artifact ) )
                $artifact.artifact
            #end
        </h4>
        <p>Artifact Id:
            #if ( $StringUtils.isNotBlank( $artifact.identifier ) )
                $artifact.identifier
            #else
                Artifact Identifier not provided
            #end
        </p>
        <p>License:</p>
        <ul>
            #foreach($license in $artifact.license.getLicenses())
                $HTMLReportUtils.getLicenseAsHtmlListItem($license)
            #end
        </ul>
        </p>
        #if ( ! $artifact.copyright.isEmpty() )
            <p>Copyright:<br />
                <ul>
                    #foreach($copyright in $artifact.copyright)
                        <li>$copyright</li>
                    #end
                </ul>
            </p>
        #end
    </div>
    #end
    <h2>License Texts</h2>
    #foreach($license in $licenses)
    <div>
        <a name="$license.getId()"></a>
        <a class="top" href="#artifacts">&#8679;</a>
        <h3>$license.getId()
        #if($license.getCommonName())
            &nbsp;($license.getCommonName())
        #end
        </h3>
        #if ( $StringUtils.isNotBlank( $license.getText() ) )
            <p>$license.getText().replaceAll("(\r\n|\n)", "<br />")</p>
        #else
            <p>No license text available</p>
        #end
    </div>
    #end
</body>
</html>
