.classpath
.project
.settings/
/eclipse
target
target-checkstyle/
.checkstyle
.idea/
*.iml
.gitreview
velocity.log
antenna-testing/antenna-sw360-integration-testing/src/test/resources/postgres/sw360pgdb.sql
.gradle
build
*.orig
.attach_pid*

### Maven Wrapper ###
!.mvn/wrapper/maven-wrapper.jar
