**/.classpath
**/.project
**/.settings/
/eclipse
**/target
**/.checkstyle
.idea/
*.iml
.gitreview
velocity.log
antenna-testing/antenna-sw360-integration-testing/src/test/resources/postgres/sw360pgdb.sql
.gradle
build