# How to use ${docNameCap}

${docNameCap} provides several different front-ends, each of which allows you to 
use ${docNameCap} in a different way.

Documentation on how to use each front-end can be found here:

- [Maven Plugin](/${docName}-maven-plugin/index.html)
- [Command Line Interface](/${docName}-cli/index.html)
