# Workflow configuration

The steps ${docNameCap} executes are configured in a workflow configuration that comprises of:

* used analyzers
* optional processors
* used generators
* optional output handlers.

The configuration is located either in a separate workflow.xml file or directly in the tool configuration (e.g. pom.xml).
Both ways use the same syntax, with one minor difference:
In case the tool configuration is used you have specify the configuration entries with

```xml
<project>
    <build>
        <plugins>
            <plugin>
                <groupId>${antennaMavenGroupId}</groupId>
                <artifactId>${antennaMavenPluginName}</artifactId>
                <version>${org.eclipse.sw360.antenna.version}</version>
                <configuration>
                    ...
                    <workflow>
                        <processors>
                            <step>
                                <name>Source Validator</name>
                                <classHint>org.eclipse.sw360.antenna.workflow.processors.SourceValidator</classHint>
                                <configuration>
                                    <entry>
                                        <entryKey>missingSourcesSeverity</entryKey>
                                        <entryValue>FAIL</entryValue>
                                    </entry>
                                    <entry>
                                        <entryKey>incompleteSourcesSeverity</entryKey>
                                        <entryValue>WARN</entryValue>
                                    </entry>
                                </configuration>
                                <deactivated>true</deactivated>
                            </step>
                        </processors>
                    </workflow>
                </configuration>
                <executions>
                    <execution>
                        <goals>
                            <goal>analyze</goal>
                        </goals>
                        <phase>package</phase>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>
</project>
```

The file can contain variables that are replaced with values that are configured in the tool configuration (e.g. pom.xml).

Each workflow element is defined with a name and a class hint so ${docNameCap} can load it from the CLASSPATH.
Additional configuration parameters can be passed to the single workflow steps via a configuration subsection.

The following example shows a workflow with one analyzer, one additional processor and two generators.

```xml
<!-- Controlling the ${docNameCap} workflow -->
<workflow>
    <analyzers>
        <step>
            <name>Example Analyzer</name>
            <classHint>full.qualified.class.name</classHint>
            <configuration>
                <entry key="configuration_key_1" value="configuration_value_1" />
                <entry key="configuration_key_2" value="configuration_value_2" />
            </configuration>
        </step>
    </analyzers>
    <processors>
        <step>
            <name>Arbitrary processor</name>
            <classHint>full.qualified.processor.class.name</classHint>
            <configuration>
                <entry key="configuration_key_2" value="configuration_value_2" />
            </configuration>
        </step>
    </processors>
    <generators>
        <step>
            <name>First Generator</name>
            <classHint>full.qualified.generator1.class.name</classHint>
            <configuration>
                <entry key="configuration_key_1" value="configuration_value_1" />
            </configuration>
        </step>
        <step>
            <name>Second Generator</name>
            <classHint>full.qualified.generator2.class.name</classHint>
        </step>
    </generators>
</workflow>
```
### Workflow order
The order of workflow steps does not correspond to the order of definition in the workflow.
Instead, each workflow step has a number assigned (`workflowStepOrder`), which determines their execution:
Lower numbers will get executed first.

The `workflowStepOrder` is a java short value. By default, a configurable workflow step will have a `workflowStepOrder` of 1000.
A validator inheriting from `abstract-antenna-compliance-checker` will have a default `workflowStepOrder` of 10000 to ensure that validators run after enrichers.

Warnings will be issued if two workflow steps have the same priority. In that case, the workflow steps will be executed in the order they were introduced in the workflow.
The evaluated order, together with the used values for `workflowStepOrder`, is logged on INFO log level.

One is able to override the order value corresponding to a workflow step using the `workflowStepOrder` tag. This could look something like
```xml
<workflow>
    <processors>
        <step>
            <name>Arbitrary processor</name>
            <classHint>full.qualified.processor.class.name</classHint>
            <configuration>
                <entry key="configuration_key_2" value="configuration_value_2" />
            </configuration>
            <workflowStepOrder>150</workflowStepOrder>
        </step>
    </processors>
</workflow>
```
This would move the `Arbitrary processor` to the front, but not before e.g. the `AntennaConfHandler` with order number `0`.

#[[##]]# Configuring default workflow steps

${docNameCap} core is prepackaged with 3 analyzers and 5 generators:

* [JSON Analyzer](./analyzers/json-analyzer-step.html)
* [CSV analyzer](./analyzers/csv-analyzer-step.html)
* [Maven Dependency Tree analyzer](./analyzers/mvn-dep-tree-analyzer-step.html)
* [HTML generator](./generators/HTML-report-generator-step.html)
* [CSV generator](./generators/csv-generator-step.html)
* [Source Zip Generator](./generators/source-zip-generator-step.html)
- [SW360 update generator](./generators/sw360-update-generator-step.html)

However, it is quite likely that the default configuration that is provided at your organization already contains a lot more workflow steps.

A complete example on how to configure the plugin can be found in the file
```
example-projects/example-project/src/workflow.xml
```
Since the ${docNameCap} tool is though to be used to enforce a company-wide standard approach to maintain open source license compliance, it allows for providing a standard workflow definition that is loaded from the classpath.

**${docNameCap} loads  a default workflow** from the CLASSPATH at `/workflow.xml`.

The default workflow looks like this.

```
assembly/configuration/src/main/resources/workflow.xml
```

The default workflow contains the general steps that should be performed for a project with respect to open source compliance management but leaves out configuration that is specific for your project. For that you need to adjust the workflow for your project. E.g. it might be that some workflow steps require credentials for external systems, you want to specify custom file paths or you want to add other steps to the workflow. This has to be performed in your custom workflow configuration.

You can include another `workflow.xml` which you can configure via ``workflowDefinitionFile`` in the `pom.xml` file.

```xml
    <workflowDefinitionFile>${basedir}/customWorkflow.xml</workflowDefinitionFile>
```

If you, for example, want to add a CSV Analyzer the `customWorkflow.xml` file will look like this:

```xml
<workflow>
    <analyzers>
        <step>
            <name>CSV Analyzer</name>
            <classHint>org.eclipse.sw360.antenna.workflow.sources.analyzer.CsvAnalyzer</classHint>
            <configuration>
                <entry key="file.path" value="${basedir}/reportdata.csv" />
                <entry key="base.dir" value="${project.build.directory}/sources"/>
            </configuration>
        </step>
    </analyzers>
</workflow>
```

The effective workflow will then consist of the entries of the default workflow and the entries you specified in your workflow.

If you want to add custom workflow steps you need to have the implementation of the workflow step on the classpath. For that 
you can use standard maven means. By configuring an additional dependency for the ${docNameCap} maven plugin you can provide any further workflow steps that are available as maven dependency.

#[[##]]# Configuring the workflow in the pom.xml

It is also possible to configure additional steps to a `workflow.xml` directly in the tool configuration.
For further information, see the [Tool configuration](./tool-configuration.html).

#[[##]]# Usage of POM properties in the workflow.xml

For technical reasons properties will in general not be rendered correctly in the workflow.xml. This means that

* No properties declared in the Maven POM can be used, since they will not be rendered correctly.
  Instead of rendering `${system.password}` to `password1234` as declared in the pom.xml, the literal `"${system.password}"` will be used.
  If those properties are used, they will most likely cause build, authentication or access issues or errors.

* For a Maven frontend, every Maven `project` property can be used.

* For a Gradle or CLI frontend, the following additional properties are available and preset:
    * `basedir`: build folder (i.e. `build` for Gradle or `target` for CLI)
    * `project.basedir` and `project.baseUri`: path and uri to current `pom.xml` file.
    * `project.build.directory`: build folder (i.e. `build` for Gradle or `target` for CLI)
    * `project.build.outputDirectory`: build output folder relative to pom file (e.g. `target/classes`)
    * `project.build.sourceDirectory`: source directory assuming a maven structure relative to pom file (`src/main/java`)
    * `project.build.testSourceDirectory`: test source directory assuming a maven structure relative to pom file (`src/test/java`)
